# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
*_env/
venv/
.venv/

# PyInstaller
build/
dist/
*.spec

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Qt files
*.qrc
*.ui~
